
@page {
  size: A4;
  margin: 0;
}

@font-face {
  font-family: SourceSans;
  src: url(/SourceSansPro-Regular.ttf);
}

body {
  background-color: #DDD;
  font-size: 14.5px;
  margin: 0;
  font-family: SourceSans;
}

