
@font-face {
  font-family: SourceSans;
  src: url(/SourceSansPro-Regular.ttf);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: SourceSans;
  background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(188,184,177,1) 100%);
}
